/* // Reset do css e estilização básica do site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* // Estilização do  do topo do site, onde tem o logo e os links de navegação */
body {
  background-image: url(../assets/capa.webp);
  background-size: cover;
  color: #eee;
  font-size: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}


#dots {
  display: flex;
  gap: 12px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ddd;
  border: 2px solid #bbb;
  transition: background 0.25s ease;
}
.dot.on {
  background: red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.8);
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#start {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#start:hover {
  background-color: #218838;  
}

.logo {
  width: 50px;
  height: 50px;
  margin: 15px 20px;
  border-radius: 50%;
  position: fixed;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.semafaro-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.semafaro {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
  border: 2px solid black;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 50px;
  position: fixed;
}
.img-sociais {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
/* // Estilização do main do site, onde tem o conteúdo principal, como os cards e as informações sobre a F1 */
.card1{
  width: 200px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 1050px;
  top: 580px;
  gap: 10px;
   cursor: pointer; 
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px 0px rgba(231, 4, 4, 0.945);
}
.card img{
  width: 100%;
  height: 60%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card h1{
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
.card p{
  font-size: 14px;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
.card2{
  width: 200px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.541);
  position: absolute;
  left: 1300px;
  top: 580px;
   cursor: pointer;
}
.card2:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px 0px rgba(23, 60, 224, 0.945);
}
.card2 img{
  width: 100%;
  height: 60%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card3{
  width: 200px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 1550px;
  top: 580px;
   cursor: pointer;         
}
.card3:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px 0px rgba(121, 119, 119, 0.945);
} 
.card4{
  width: 200px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 1800px;
  top: 580px;
  cursor: pointer;                     
}
.card4:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px 0px rgba(247, 49, 0, 0.945);
}


@media (max-width: 768px) {
  body{
    background-image: url(../assets/capa.webp);
    background-size: cover;
    color: #eee;
    font-size: 12px;
    overflow: hidden;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .logo{
    width: 20px;
    height: 20px;
    margin: 0px 20px;
  }
  .dot{
    width: 20px;
    height: 20px;
  }
  .button-container{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;

  }

  #start{
    padding: 5px 8px;
    font-size: 12px;
    margin-bottom: 20px;
  } 

.nav-links{
  list-style: none;
  gap: 20px;
  margin-left: 5px;
  position: fixed;
}
.img-sociais{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
main{
  margin-top: 130px;
  width: 10%;
  height: 50%;

}
.card1{
  width: 150px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 30px;
  top: 230px;
  gap: 10px;
   cursor: pointer;
  }
.card2{
  width: 150px;     
  height: 200px;
  border-radius: 12px;              
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.541);
  position: absolute;
  left: 210px;
  top: 230px;
   cursor: pointer;     
}
.card3{
  width: 150px;     
  height: 200px;
  border-radius: 12px;              
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.541);
  position: absolute;
  left: 210px;
  top: 460px;
   cursor: pointer;     
}
.card4{
  width: 150px;     
  height: 200px;
  border-radius: 12px;              
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.541);
  position: absolute;
  left: 30px;
  top: 460px;
   cursor: pointer;     
}
.card h1{
  color: black;
  font-size: 18px;
  font-weight: 400;
  margin: 1px;
  text-align: center;
  padding: 2px;
}
.card p{
  color: black;
  font-size: 8px;
  margin: 1px;
  text-align: center;
  padding: 5px;
}
}     